-e git+https://github.com/RulersOfAsgard/alamo-common.git@master#egg=alamo_common
pbr
Sphinx
APScheduler==3.3.0
redis==2.10.5
pyzmq==15.2.0
aiohttp==1.1.5
aiomeasures==0.5.14
setuptools==21.2.1
requests==2.13.0
